<!-- Menu Bar -->
    <header id="header" class="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1><a href="index.ejs"><span>online</span>Bakery Orders</a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="index.ejs">Home</a></li>

                    <li><a href="#onlineBakery">Orders from the OnlineBakery</a></li>
                    <li><a href="#preorder">Pre-Order for Supplier</a></li>
                    <li class="menu-has-children"><a href="">Drop Down</a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                            <li><a href="#">Drop Down 5</a></li>
                        </ul>
                    </li>
                    <li><a href="#aboutme">About the App</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Welcome section -->

    <section id="hero">
        <div class="hero-container" data-aos="fade-in">
            <h1>Online Bakery Orders</h1>
            <h2>The easiest way to order ingredientes for the Bakery requests &amp; more...</h2>
            <img src="/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
        </div>
    </section>
